In [0]:
%python

df = spark.read.csv("dbfs:/FileStore/shared_uploads/nivimachinelearning@gmail.com/titanic_training_data-3.csv",header=True)

In [0]:
%python
df.show(1)

+-----------+--------+------+--------------------+----+---+-----+-----+---------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex|Age|SibSp|Parch|   Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+---+-----+-----+---------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male| 22|    1|    0|A/5 21171|7.25| null|       S|
+-----------+--------+------+--------------------+----+---+-----+-----+---------+----+-----+--------+
only showing top 1 row

In [0]:
%python
# Display DataFrame schema
df.printSchema()

# Count the number of rows in the DataFrame
rowCount = df.count()
print(f"Number of rows: {rowCount}")

# Display summary statistics for numeric columns
df.describe().show()

# Filter and display passengers with age greater than 30
filtered_df = df.filter(df["Age"] > 30)
filtered_df.show()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

Number of rows: 891
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|                0|  A10|       C|
|    max|               99|                  1|                 3|van Melkebeke, Mr...|  male|                 9|                 8|                  6|         WE/P 5735|             93.5|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

+-----------+--------+------+--------------------+------+---+-----+-----+----------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|    Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|  PC 17599|71.2833|  C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|    113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|    373450|   8.05| null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|     17463|51.8625|  E46|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|    113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|    347082| 31.275| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|    248706|     16| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|    345763|     18| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male| 35|    0|    0|    239865|     26| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male| 34|    0|    0|    248698|     13|  D56|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female| 38|    1|    5|    347077|31.3875| null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male| 40|    0|    0|  PC 17601|27.7208| null|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male| 66|    0|    0|C.A. 24579|   10.5| null|       S|
|         36|       0|     1|Holverson, Mr. Al...|  male| 42|    1|    0|    113789|     52| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female| 40|    1|    0|      7546|  9.475| null|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female| 49|    1|    0|  PC 17572|76.7292|  D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male| 65|    0|    1|    113509|61.9792|  B30|       C|
|         62|       1|     1| Icard, Miss. Amelie|female| 38|    0|    0|    113572|     80|  B28|    null|
|         63|       0|     1|Harris, Mr. Henry...|  male| 45|    1|    0|     36973| 83.475|  C83|       S|
|         71|       0|     2|Jenkin, Mr. Steph...|  male| 32|    0|    0|C.A. 33111|   10.5| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------+-------+-----+--------+
only showing top 20 rows

In [0]:
%python
# Extract a specific column as an RDD
age_rdd = df.select("Age").rdd.map(lambda row: row[0])

# Display the first few elements of the RDD
for age in age_rdd.take(5):
    print(age)

22
38
26
35
35

In [0]:
%python
# Convert age values to numbers in the RDD, handling None values and non-numeric values
age_number_rdd = age_rdd.map(lambda age: float(age) if age is not None and age.replace('.', '', 1).isdigit() else 0)

# Calculate the average age using RDD
total_age = age_number_rdd.reduce(lambda x, y: x + y)
average_age = total_age / rowCount
print(f"Average Age: {average_age}")

Average Age: 23.79929292929293

In [0]:
%python
# Register DataFrame as a temporary SQL table
df.createOrReplaceTempView("titanic_table")

# Perform SQL query on DataFrame
sql_result = spark.sql("SELECT Pclass, COUNT(*) AS count FROM titanic_table GROUP BY Pclass ORDER BY Pclass")
sql_result.show()

+------+-----+
|Pclass|count|
+------+-----+
|     1|  216|
|     2|  184|
|     3|  491|
+------+-----+

In [0]:
%scala
// Define the file path
val filePath = "/FileStore/shared_uploads/nivimachinelearning@gmail.com/titanic_training_data-3.csv"

// Read CSV into a DataFrame
val df = spark.read.option("header", "true").csv(filePath)

// Create a temporary SQL table
df.createOrReplaceTempView("titanic_table")

In [0]:
%scala
// Perform SQL query on DataFrame
val sqlResult = spark.sql("SELECT Pclass, COUNT(*) AS count FROM titanic_table GROUP BY Pclass ORDER BY Pclass")
sqlResult.show()

In [0]:
%scala
// Create an RDD from a collection
val data = List(1, 2, 3, 4, 5)
val rdd = sc.parallelize(data)

// Perform a transformation: Square each element
val squaredRDD = rdd.map(x => x * x)

// Perform an action: Print the squared values
squaredRDD.collect().foreach(println)

In [0]:
%scala
// Create a DataFrame from a collection
val data = List((1, "Alice"), (2, "Bob"), (3, "Charlie"))
val df = spark.createDataFrame(data).toDF("ID", "Name")

// Perform transformations using DataFrame API
val resultDF = df.select("ID", "Name").filter("ID > 1")

// Show the result
resultDF.show()