In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('RDD Example').getOrCreate()

In [ ]:
data=[1,2,4,1,6,7]
rdd=spark.sparkContext.parallelize(data)

In [ ]:
rdd.show()

AttributeError: 'RDD' object has no attribute 'show'

In [ ]:
display(rdd)

ParallelCollectionRDD[1] at readRDDFromFile at PythonRDD.scala:289

In [ ]:
rdd.collect()

[1, 2, 4, 1, 6, 7]

In [13]:
data=spark.read.csv("/content/CardioGoodFitness-1 (1).csv",header=True,inferSchema=True)

In [14]:
rdd=data.rdd

In [15]:
rdd.take(5)

[Row(Product='TM195', Age=18, Gender='Male', Education=14, MaritalStatus='Single', Usage=3, Fitness=4, Income=29562, Miles=112),
 Row(Product='TM195', Age=19, Gender='Male', Education=15, MaritalStatus='Single', Usage=2, Fitness=3, Income=31836, Miles=75),
 Row(Product='TM195', Age=19, Gender='Female', Education=14, MaritalStatus='Partnered', Usage=4, Fitness=3, Income=30699, Miles=66),
 Row(Product='TM195', Age=19, Gender='Male', Education=12, MaritalStatus='Single', Usage=3, Fitness=3, Income=32973, Miles=85),
 Row(Product='TM195', Age=20, Gender='Male', Education=13, MaritalStatus='Partnered', Usage=4, Fitness=2, Income=35247, Miles=47)]

In [18]:
rdd.first()

Row(Product='TM195', Age=18, Gender='Male', Education=14, MaritalStatus='Single', Usage=3, Fitness=4, Income=29562, Miles=112)

In [19]:
rdd.third()

AttributeError: 'RDD' object has no attribute 'third'

In [20]:
rdd.take(2)

[Row(Product='TM195', Age=18, Gender='Male', Education=14, MaritalStatus='Single', Usage=3, Fitness=4, Income=29562, Miles=112),
 Row(Product='TM195', Age=19, Gender='Male', Education=15, MaritalStatus='Single', Usage=2, Fitness=3, Income=31836, Miles=75)]

In [ ]:
rdd.collect()

In [21]:
rdd.count()

180

In [22]:
rdd.filter(lambda x:x[0]=='TM195').count()

80

In [23]:
rdd.filter(lambda x:x[0]=='TM195').take(5)

[Row(Product='TM195', Age=18, Gender='Male', Education=14, MaritalStatus='Single', Usage=3, Fitness=4, Income=29562, Miles=112),
 Row(Product='TM195', Age=19, Gender='Male', Education=15, MaritalStatus='Single', Usage=2, Fitness=3, Income=31836, Miles=75),
 Row(Product='TM195', Age=19, Gender='Female', Education=14, MaritalStatus='Partnered', Usage=4, Fitness=3, Income=30699, Miles=66),
 Row(Product='TM195', Age=19, Gender='Male', Education=12, MaritalStatus='Single', Usage=3, Fitness=3, Income=32973, Miles=85),
 Row(Product='TM195', Age=20, Gender='Male', Education=13, MaritalStatus='Partnered', Usage=4, Fitness=2, Income=35247, Miles=47)]

In [26]:
rdd.map(lambda x: x[1]).take(5)

[18, 19, 19, 19, 20]

In [27]:
rdd.map(lambda x: x[0]).distinct().collect()

['TM195', 'TM498', 'TM798']

In [30]:
rdd.flatMap(lambda x:x).take(10)

['TM195', 18, 'Male', 14, 'Single', 3, 4, 29562, 112, 'TM195']

In [32]:
grouped_ages_rdd=rdd.map(lambda x: (x[0], int(x[1]))).groupByKey()
for key, values in grouped_ages_rdd.take(5):
    print(key, list(values))

TM195 [18, 19, 19, 19, 20, 20, 21, 21, 21, 21, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 28, 28, 28, 28, 28, 28, 29, 29, 29, 30, 30, 31, 31, 32, 32, 33, 33, 34, 34, 35, 35, 35, 36, 37, 38, 38, 38, 38, 39, 40, 41, 43, 44, 46, 47, 50]
TM498 [19, 20, 20, 20, 21, 21, 21, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 27, 29, 30, 30, 31, 31, 31, 32, 32, 33, 33, 33, 33, 33, 34, 34, 34, 35, 35, 35, 35, 37, 38, 38, 40, 40, 40, 45, 48]
TM798 [22, 22, 22, 23, 23, 23, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 26, 26, 27, 27, 27, 28, 28, 28, 29, 29, 30, 30, 30, 31, 33, 34, 35, 38, 40, 42, 45, 47, 48]

In [37]:
rdd.filter(lambda x:x[7]>70000).take(5)

[Row(Product='TM798', Age=25, Gender='Male', Education=18, MaritalStatus='Partnered', Usage=6, Fitness=4, Income=70966, Miles=180),
 Row(Product='TM798', Age=25, Gender='Male', Education=18, MaritalStatus='Partnered', Usage=6, Fitness=5, Income=75946, Miles=240),
 Row(Product='TM798', Age=25, Gender='Male', Education=20, MaritalStatus='Partnered', Usage=4, Fitness=5, Income=74701, Miles=170),
 Row(Product='TM798', Age=27, Gender='Male', Education=16, MaritalStatus='Partnered', Usage=4, Fitness=5, Income=83416, Miles=160),
 Row(Product='TM798', Age=27, Gender='Male', Education=18, MaritalStatus='Single', Usage=4, Fitness=3, Income=88396, Miles=100)]

In [38]:
rdd.countByKey()

defaultdict(int, {'TM195': 80, 'TM498': 60, 'TM798': 40})

In [39]:
rdd.map(lambda x:x[7]).max()

104581

In [40]:
rdd.map(lambda x: x["Income"]).sum()

9669524

In [41]:
rdd.map(lambda x: x["Income"]).top(3)

[104581, 104581, 103336]

In [42]:
rdd.map(lambda x: x[7]).takeOrdered(3, key=lambda x: -x)

[104581, 104581, 103336]

In [43]:
rdd.map(lambda x: x[7]).takeOrdered(3, key=lambda x: x)

[29562, 30699, 31836]

In [ ]:
Final Assessment:(Nexus)